.jumbotron {
  text-align: center;
  background-color: #2e4160;
  color: #ffffff;
}

.hello-shown {
  display: none;
}

.goodbye-shown {
  display: none;
}

.panel-success {
  
}

.panel-body {
  background: #2e4160;
  color: #ffffff;
  font-size: 20px;
}

body {
  background-color: #e7e9ed;
}
